body {
  font-family: Helvetica;
}

header, main, nav {
  width: 80%;
  margin: 0px auto;
}


.header {

  &__title {
    color: #006666;
    font-size: 65px;
  }

  &__description {
    color: black;
  }

  &__image {
    margin: 0px auto;
    width: 300px;
    height: 300px;
    background-image: url("https://lh3.googleusercontent.com/PQ6jC5ycxUob_PAsfNWn0A40ZE3Y777r6CFEK3hj52ye0-AyBahW0hTY0tUUHNoIqzVi=w300");
  }

}

.main-wrapper {

  &__row {
    width: 100%;
  }

  &__col-left {
    width: 40%;
    float: left;
    margin: 5%;
  }

  &__col-right {
    width: 40%;
    float: right;
    margin: 5%;
  }

  &__title {
    text-decoration: underline;
  }

  &--bolded {
    font-weight: bold;
    }
}

.cv-wrapper {

  &__content {
    width: 100%;
    padding: 50px;
    background-color: white;
  }

  &__heading {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;

  }
}

.footer-wrapper {

  width: 100%;
  height: 200px;
  background-color: #006666;
  color: white;
  line-height: 200px;

  &__heading {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
  }

  &--date {
    letter-spacing: 5px;
  }

  &--bolded {
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {

  .main-wrapper {

    &__col-left {
      width: 100%;
      margin: 0px;
    }

    &__col-right {
      width: 100%;
      text-align: center;
      margin: 0px 0px 40px 0px;
    }
  }

  .cv-wrapper {

    &__content {
      text-align: justify;
    }
  }

}






